.container {
    width: 800px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 50px;
    background: #333333;
}

.header span {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: lawngreen;
    font-weight: bold;
    padding-left: 20px;
}

.header button {
    float: right;
    margin: 15px 20px 0 0;
}

.body {
    width: 100%;
    margin: 20px 0;
    padding: 20px 0;
    box-shadow: 2px 2px 10px grey;
}

.contacts-container {
    width: 80%;
    margin: 10px auto;
    box-shadow: 2px 2px 10px grey;
    padding: 20px;
}

.contacts-container img {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.contacts-container:hover {
    cursor: pointer;
    background: #dddddd;
}

.preloader {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.body h3 {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
}