.title {
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: #333333;
    color: lawngreen;
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.form-container {
    display: block;
    width: 95%;
    box-shadow: 2px 2px 10px grey;
    margin: 20px 0;
    padding: 20px;
}

.form-container span {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

label input {
    margin: 10px 0;
    padding: 5px;
}

.form-container img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid grey;
}