.modal {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ffffff;
    box-shadow: 2px 2px 10px grey;
    padding: 20px;
}

.modal img {
    display: block;
    border: 1px solid grey;
    width: 150px;
    height: 150px;
    margin: 20px auto;
}